<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>844302213500-gtc3i6pbp288eujoql2ocdvo3jp18nvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844302213500-gtc3i6pbp288eujoql2ocdvo3jp18nvn</string>
	<key>API_KEY</key>
	<string>AIzaSyCockuLGkrlBZ45D2mhDlOub8yXm_DNHj0</string>
	<key>GCM_SENDER_ID</key>
	<string>844302213500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodhombres.iMamey</string>
	<key>PROJECT_ID</key>
	<string>imamey-107f8</string>
	<key>STORAGE_BUCKET</key>
	<string>imamey-107f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:844302213500:ios:785f2648ae90023b</string>
	<key>DATABASE_URL</key>
	<string>https://imamey-107f8.firebaseio.com</string>
</dict>
</plist>